@import "../../utilities/commonStyles/commonStyles.scss";

.app-bar-wrapper{
    backdrop-filter: blur(15px);
    background-color: rgba(255, 255, 255, 0.08) !important; 
}
.navButtons{
    font-family: 'Poppins', sans-serif !important;
    font-weight: 500 !important;
    font-size: 18px !important;
    text-transform: capitalize !important;
    outline: none;
    border: none;
}
